<h2>Kúp térfogata</h2>

<form [formGroup]="kupForm" (ngSubmit)="onSubmit()">
  <div class="mt-3">
    <input type="text" placeholder="sugár"
    formControlName="radius"
    class="form-control" required>
    <span *ngIf="kupForm.controls['radius'].errors?.['required']">
        A sugár megadása kötelező.
    </span>
    
  </div>
  <div class="mt-3">
    <input type="text" placeholder="height"
    formControlName="height"
    class="form-control" required>
    <span *ngIf="kupForm.controls['height'].errors?.['required']">
        A magasság megadása kötelező.
    </span>    
  </div>
  <button type="submit"
  class="btn btn-primary mt-3">Számít</button>

  <div class="mt-3">
    <input type="text" readonly
    formControlName="volume"
    class="form-control">
  </div>
    
</form>

